@model _146247148111.TVApp.Interfaces.ITV

@{
    ViewData["Title"] = "CreateTV";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="..\wwwroot\css\site.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">CreateTV</h1>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <form method="post" asp-action="CreateTV">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">TV Name</label>
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="ProducerName" class="control-label">Producer Name</label>
                        <select name="ProducerName" asp-items="@ViewBag.ProducerNames" class="form-control" required>
                            <option value="">Select Producer</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="ScreenSize" class="control-label">Screen Size</label>
                        <input asp-for="ScreenSize" class="form-control" required />
                        <span asp-validation-for="ScreenSize" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Screen" class="control-label">Screen Type</label>
                        <select asp-for="Screen" asp-items="Html.GetEnumSelectList<_146247148111.TVApp.Core.ScreenType>()" class="form-control" required>
                            <option value="">Select Screen Type</option>
                        </select>
                        <span asp-validation-for="Screen" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>

        <div class="mt-3">
            <a asp-action="TVCatalog" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
